.container{
  display: flex;
  width: 100%;
}

.link {
  text-decoration: none;
  background: black;
  color: white;
  padding: 1rem;
  border: 2px black;
}

.link:hover{
  background: white;
  color: black;
}