.container{
  display: flex;
}

.link {
  text-decoration: none;
  background: black;
  color: white;
  padding: 1rem;
  border: 2px black;
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
}

.link:hover{
  background: white;
  color: black;
}